@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

.header-container {
  background-color: #4cd137;
  display: table;
  width:100%;
  height: 50px;
}

.header-logo {
  width:250px;
  display: table-cell;
}

.header-logo-text {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 2.2rem;
  margin:0;
  padding:0 0 0 4px;
}

.header-logo-text a:link, .header-logo-text a:visited, .header-logo-text a:hover {
  text-decoration: none;
  color:#fff;
}

.header-tabs-nav {
  display: table-cell;
}

.header-tabs-menu {
  list-style: none;
  margin:0;
  padding:0;
  height: 100%;
}

.header-tabs-menu > li {
  float:left;
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  display:flex;
  align-items: center;
  border-bottom:3px solid #4cd137;
}

.header-tabs-menu > li.active, .header-tabs-menu > li:hover {
  border-bottom:3px solid #fff;
}

.header-tabs-menu > li > a:link, .header-tabs-menu > li > a:visited, .header-tabs-menu > li > a:hover {
  color:#fff;
  padding:0 30px 0 30px;
  text-decoration: none;
  overflow: hidden;
}

.header-account-nav {
  width: 400px;
  display: table-cell;
}

.header-account-menu {
  float:right;
  height: 100%;
  list-style: none;
  margin:0;
  padding:0;
}

.header-account-menu > li {
  float:left;
  height: 100%;
  padding:0 15px 0 15px;
  font-family: 'Noto Sans TC', sans-serif;
  display:flex;
  align-items: center;
}

.header-account-menu > li:hover {
  background-color: #44bd32;
}

.header-account-menu > li > a:link, .header-account-menu > li > a:visited, .header-account-menu > li > a:hover {
  color:#fff;
  text-decoration: none;
  overflow: hidden;
}

.header-settings-dropdown > .dropdown-toggle:link, .header-settings-dropdown > .dropdown-toggle:visited, .header-settings-dropdown > .dropdown-toggle:hover {
  color:#fff;
}

.header-settings-dropdown > .dropdown-menu {
  top:10px;
  left:-100px;
}